:root{
  --color-tex: linear-gradient(to right, #7927b2, #fb3182);
  --bg-color-2: #3ce7a5;
  --color-1: #6c757d;
}
html {
  font-size: 62.5%;
  font-family: 'Roboto', sans-serif;
}
body {
  background: linear-gradient(-45deg, #5E60CE, #e73c7e, #7400B8, #6930C3);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;
  position: relative;
}
nav{
  display: flex;
  color: white;
  padding: 0 2rem;
  margin-bottom: 4rem;
}
nav div {
  display: flex;
  align-items: center;
}
nav i {
  font-size: 5rem;
}
nav div h2 {
  font-family: 'Syne Mono', monospace;
  font-style: italic;
  font-size: 3rem;
  margin: 0;
}
nav ul {
  display: flex;
  font-size: 1.6rem;
  justify-content: space-between;
  color: white;
  width: 25%;
  list-style: none;
  position: absolute;
  right: 6rem;
}
nav ul li a:hover {
  font-size: 1.8rem;
  transition:  0.5s;
}
nav li a {
  color: white;
  text-decoration: none;
}
nav ul .menuDes {
  margin: 0;
  padding: 0;
  position: relative;
  right: 0;
  display: block;
}
nav .menuDes li{
  float: none;
  display: block;
  position: relative;
  line-height:120%;
  width: 100%;
  overflow-y: hidden;
  visibility: hidden;
}
nav .menuDes li a{
  line-height:120%;
  padding: 15px;
  display: block;
  text-align: center;
  text-decoration: none;
}
nav .menuDes .colorIcon{
  font-size: 3rem;
  color: white;
}
nav .menuDes .colorIcon:hover {
  font-size: 4rem;
  transition: 0.5s;
}
nav .menuDes:hover li{
  visibility:visible;
  display: block;
  transition-property: all;
	transition-duration: .5s;
	transition-timing-function: cubic-bezier(0, 1, 0.5, 1)
}
main #form {
  margin: 0 auto;
  width: 90vw;
  display: flex;
  flex-direction: column;
}
main #form input {
  margin: 0 auto;
  box-sizing: border-box;
  width: 80%;
  border: none;
  height: 5rem;
  font-size: 1.9rem;
  opacity: 2;
}
main #form #search {
  background: white;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
}
main #form #search::placeholder {
  color: var(--color-1);
}
main #form #buttonSearch {
  background: var(--bg-color-2);
  color: var(--color-1);
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
}
main #form input:hover {
  width: 83%;
  transition: 1s;
  background-color: white; 
  outline: none;
  border-radius: 1rem;
}
main .multiWeather {
  display: grid;
  grid-template-columns: repeat(auto-fill,  minmax(100px, 293px));
  grid-template-rows: auto;
  gap: 10px;
  justify-items: center;
  justify-content: center;
}
main #weather {
  margin: 5rem auto;
  width: 80vw;
}
main .weatherCondition {
  background: white;
  color: var(--color-1);
  width: 25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.6rem;
  border-radius: .8rem;
}
main .weatherCondition:hover {
  box-shadow: -5px -5px 7px 0px #ada9ad;
}
main .weatherCondition img {
  width: auto;
}
main .weatherCondition h3 {
  font-size: 2rem;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding: 2rem 0;
}
main .weatherCondition h3 sup {
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  font-size: 1rem;
}
main .celcius {
  font-size: 10rem;
  margin: 3rem auto;
}
main .celcius sup {
  font-size: 4rem;
}
main .description {
  font-size: 1.5rem;
  font-style: italic;
}
main .error {
  width: 67vw;
  height: 400px;
  margin: 3rem auto;
  padding: 30px;
  background: #fff;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .error p{
  font-size: 90px;
  font-weight: bold;
  background: var(--color-tex);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  max-width: 70%;
  text-transform: uppercase;
  line-height: .77;
}
main #clearButton {
  color: var(--bg-color-2);
  font-size: 4rem;
  position: absolute;
  right: 6rem;
  bottom: 6rem;
  background: transparent;
  border: none;
  cursor: pointer;
}
main #clearButton:hover {
  font-size: 4.5rem;
  transition: 0.5s;
}
footer {
    color: white;
    position: absolute;
    margin: 0.4rem auto;
    bottom: 0;
    right: 0;
    left: 0;
    text-align: center;
    width: 100%;
}

/* keyframes para el fondo */
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
/* aun falta el css para mobile */